template(name="ManagedStep")
  .step.list-group-item.large-list-group-item(class="{{step.cls}} {{#if not step.isCurrent}}text-muted{{/if}}", data-name=step.name, data-key=step.key)
    if step.isCompleted
      +UI.dynamic(template=isCompletedTemplateName data=step)
    else
      if step.isActive
        +UI.contentBlock
      else
        +UI.dynamic(template=isPendingTemplateName data=step)
    if not skipIssues
      if step.issues.count
        .list-group-item-text
          +issues(step)
