head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='Spire does bulk actions for Trello and other apps. It is simple, secure — and gets the job done.')
  link(rel="icon" href="/packages/frontend-foundation/public/images/favicon.ico")
  script(src="https://apis.google.com/js/platform.js" async defer)
  script(src="https://apis.google.com/js/api.js")
  script(src="https://checkout.stripe.com/checkout.js")

body
  +login
  #fb-root

template(name="layout")
  .container
    .row
      .col-xs-12
        .panel.panel-default.panel-top
          +Template.dynamic(template=headerTemplate data=headerData)
          +Template.dynamic(template=contentTemplate data=contentData)
          //+Template.dynamic(template=footerTemplate data=footerData)
